#smb-header {
    background-color: #71BC68;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    border-bottom: 2px solid black;
}

#name {
    font-family: UniSansHeavyCaps;
    font-size: 4em;
    position: relative;
    margin-left: 2%;
    color: #fff;
}
#filler{
    height: 12%;
}
#scr1 {
    width: 100%;
}
#scr2 {
    width: 100%;
}
#main {
    background-color: #fff;
    left: 10%;
    width: 80%;
    height: 210vh;
    position:absolute;
}
#guide {
    position:absolute;
    left: 10%;
    width: 80%;
}
p {
    font-family: Minecraft;
    font-size: 150%;
    text-align: center;
}
#event-new-season{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    color: #fff;
    top: 2%;
    position: absolute;
    left:50%;
    transform: translate(-50%,0);
}
#join-button {
    width:45%;
    font-size: 200%;
}
html {
    background-image:url(dirt.png);
}
@font-face {
    font-family: "Minecraft";
    src:url('fonts/woff/mine.woff') format('woff');
    }
@font-face {
    font-family: "UniSansHeavyCaps";
    src:url('fonts/woff/8519.woff') format('woff');
    }
